.camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 100%;
  margin-bottom: 20px;
}

.gallery-photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.capture-btn, .gallery-btn, .clear-btn {
  background-color: #d67609;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.capture-btn:hover, .gallery-btn:hover, .clear-btn:hover {
  background-color: #423c00;
}

.clear-btn {
  background-color: #dc3545;
}

.clear-btn:hover {
  background-color: #a71d2a;
}
